<h1>Dejanos un mensaje</h1>

<div>
    <input type="text" id="chatBox">
    <button id="botonChat">Enviar</button>
</div>

<div>
    <h2>Lista de mensajes:</h2>
    <p id="parrafosMensajes"></p>
</div>