<h1>All products</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                <p>Precio: {{price}}</p>
            </li>
        {{/each}}
    </ul>